<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key><string>software-package</string>
            <key>url</key><string>https://qd.leaderhero.com/newpan/qianmin/20190726/Minecraft_v1.9.0(os10.0)_190726010227_app.tongbu.com.zb.ipa</string>
          </dict>
          <dict>
            <key>kind</key><string>full-size-image</string>
            <key>needs-shine</key><true/>
            <key>url</key><string>https://is4-ssl.mzstatic.com/image/thumb/Purple124/v4/ec/ba/d5/ecbad559-9f05-1f5c-e4c8-d83d5c856abd/source/100x100bb.jpg</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key><true/>
            <key>url</key><string>https://is4-ssl.mzstatic.com/image/thumb/Purple124/v4/ec/ba/d5/ecbad559-9f05-1f5c-e4c8-d83d5c856abd/source/100x100bb.jpg</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key><string>com.mojang.minecraftpe</string>
          <key>bundle-version</key><string>1.9.0</string>
          <key>kind</key><string>software</string>
          <key>subtitle</key><string>Minecraft</string>
          <key>title</key><string>Minecraft</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
